//Estilos de movie.html
.espacio-peliculas{
	padding: 2%;
	.contenedor-cada-pelicula{
		cursor: pointer;
		padding: 1% 0 3% 0;
		border-bottom: 1px solid lightgray;
		min-height: 153px;
		.btn-favorito{
			text-decoration: none;
			padding: 7px 15px;
			background-color: red;
			color: #fff;
			border-radius: 5px;
		}
		h3{
			margin-top: 12px;
		}
		h3,
		.btn-favorito{
			display: inline-block;
			margin-top: 10px;
		}
		&:hover{
			background-color: lightgray;
		}
		.estrellitas,
		.col10{
			padding: 0;
		}
		.bg-imagen{
			background-color: transparent;
			height: 50px;
			padding: 0;
    }
  }
}
#espacio-categorias {
  margin: 85px 30px 10px 30px;
  padding: 5px 10px;
  width: 300px;
  position: relative;
  -webkit-perspective: 800px;
  border: 2px solid $color_background_principal2;
}

#movies{
	background-image: url('../img/estrenos2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;		
}

.principal{
	text-align: center;
	margin-top: 30%;
	display: block;	
	h1{
		font-family: $font_family_a;
		color: $color_a;
		font-size: 60px;
		margin-bottom: 15%;
	}
	.btn{
		background-color: $color_a;
		width: 90%;
		height: 6vh;
		margin-top: 20px;		
		p{
			color: $color_background_principal;
			font-family: $font_family_b;
			margin-top: 2px;
			font-weight: bold;
		}
	}	
	a{
		color: $color_a;
		text-decoration:none;		
	}
	h5{
		font-family: $font_family_b;
		margin-top: 10%;
		cursor: pointer;			
		font-weight: bold;
	}
	h5:hover{
		color: $color_background_principal;
		background-color: white;
		opacity: 0.8;
		padding: 4px;
	}
}

/*Index 2*/

#cuenta{
	background-color: $color_background_principal2;
}

.cuenta{
	margin-left: 7%;
	margin-top: 35%;
	height: auto;
	font-family: $font_family_b;
	font-weight: bold;
	p{
		text-align: left;
		color: $color_background_principal;
	}
	input{
		width: 83%;
		margin-bottom: 7px;
		padding: 8px;
		border-radius: 5px;
		border-style: none;
	}
	a{
		text-decoration:none;	
		span.btn-2{
			top:10%;
			padding: 10px 70px;
			margin-left: 10%;
			background-color: $color_d;
			color: $color_a;
			border-radius: 5px;			
		}		
	}
	.errores{
   		background: red;
   		color: white;
   		display: none;
   		font-size: 14px;
   		margin-top: 10px;
   		margin-left: 50px;
   		padding: 5px;
   		position: absolute;
	}	
}

/*Index 3*/

#login{
	background-color: $color_background_principal;
	input{
		width: 100%;
	}
}

.login{
	text-align: center;
	margin-top: 30%;
	padding: 0 10%;
	display: block;
	h1{
		font-family: $font_family_a;
		color: $color_a;
		font-size: 60px;
		margin-bottom: 15%;
	}
	.log{
		//margin-left: 15%;
		label{
			color: $color_a;
		}
		p{
			float:left;
			display: block;
			color: $color_a;
			font-weight: bold;
		}
		input{
			display: block;
			width: 83%;
			margin-bottom: 7px;
			padding: 8px;
			border-radius: 5px;
			border-style: none;
		}
		.errores{
   			background: red;
   			color: white;
   			display: none;
   			font-size: 14px;
   			margin-top: 10px;
   			margin-left: 50px;
   			padding: 5px;
   			position: absolute;
		}
		.btn{
			margin-top: 30px;
			padding: 10px 70px;
			//margin-left: -15%;
			background-color: $color_b;
			border: 2px solid $color_a;
			color: $color_a;
			border-radius: 5px;	
			font-weight: bold;
		}
	}
}

//Estilos fav
#espacio-fav{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.item-fav{
	background: white;
	width: 25%;
	margin: 0 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  display: none;

  .text-fav{
  	padding: 5px;
  	p{
  		text-align: left;
  		margin-bottom: 0;
  	}
  	i{	
  		font-size: 18px;
  	}
  }
}

.mostrar{
	display: inline-block;
}

/***** estilos pau lee ***/
/**** header barra toggle, igual para casi todos los html ****/
.navbar-inverse .navbar-brand{
  color: $white;
  text-align: center;
  float: none;
  height: 65px;
  padding: 25px;
  font-family: $font1;
  margin-right: 40px;
}
.navbar-inverse .navbar-nav>li>a{
  width: 130%;
  position: relative;
  left: 5px;
}
.navbar-toggle{
  margin-top: 15px;
}
.navbar-inverse .navbar-toggle{
  border-color: transparent;
  padding: 10px 15px;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}

.side-collapse-container{
 width: $anchototal;
 position: relative;
 left: 0;
 transition: left .4s;
}
.side-collapse-container.out{
  left: 200px;
}
.side-collapse {
  top: 66px;
  bottom: 0;
  left: 0;
  width: 180px;
  position: fixed;
  overflow: hidden;
  transition: width .4s;
}
.side-collapse.in {
  width: 0;
}

/****select movie categories****/
.movie-pic{
  width: 100%;
  height: 50%;
  padding-top: 320px;
  background-color: gray; 
}
.movie-watch{
  width: 100%;
  height: 50px;
  background-color: $rojontfx;
  display: inline-block;

  h5{
    font-size: 16px;
    color: $white;
    font-weight: $bold;
  }

  .fa-angle-right{
    font-size: 18px;
    font-weight: $bold;
    margin-left: 20px;
  }
}

#profile{
  padding-top: 100px;
  padding-bottom: 150px;
  width: 100%;
  img {
    width: 100px;
    height: 100px;
  }
  .data{
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
    padding: 20px;
    line-height: 10px;
    p{
      font-weight: $bold;
    }
    h5{
      font-size: 14px;
      color: $white;
      font-weight: $bold;
    }
  }
}