$color_background_principal: #c14748;
$color_background_principal2: #e2e2e2;
$color_a: white;
$color_b: transparent; 
$color_c: black;
$color_d: #2b2c30;
$font_family_a: 'Anton', sans-serif;
$font_family_b: 'Cantarell', sans-serif;

/*Estilos de Pau*/
$white: #FFF;
$font1: 'Nunito', sans-serif;